* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}


main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border: white 2px solid;
  border-radius:5px;
  width: 69px;
  
}

.grey {
  border-color:#6A6A6A;
  background-color: #D6D6D6;
  &::placeholder {
    color:#6A6A6A
  }
}

.green {
  border-color:#32855F;
  background-color: #D3EEE2;
  &::placeholder {
    color:#32855F
  }
}

.blue {
  border-color:#545AF2;
  background-color: #C6C8FB;
  &::placeholder {
    color:#545AF2
  }
}

.purple {
  border-color:#8740C9;
  background-color: #E1CFF2;
  &::placeholder {
    color:#8740C9
  }
}

.golden {
  border-color:#FFA601;
  background-color: #FFEAC2;
  &::placeholder {
    color:#FFA601
  }
}

