* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}


main {
  padding: 1rem;
  max-width: 480px;
  margin: auto;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

fieldset {
  display: flex;
}


input {
  flex: 1;
  border: white 2px solid;
  border-radius:5px;
  line-height: 1.2rem;
  border-color: rgb(var(--input-color));
  background-color: rgba(var(--input-color), 0.25);
  &::placeholder {
    color: rgb(var(--input-color))
  }
}

::placeholder {
  text-align:center;
}

.grey {
  --input-color: 143, 143, 143;
}

.green {
  --input-color: 138, 208, 151;
}

.blue {
  --input-color: 103, 145, 244;
  }


.purple {
  --input-color: 165, 111, 216;
  }


.golden {
  --input-color: 255, 191, 71;
  }


